body{
    box-sizing: border-box;
}
.section-1{
    background-color: #1F2937;
    width: 100%;
    height: 550px;
}



.header{
    background-color: #1F2937;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: flex-end;
}

a{
    text-decoration: none;
    color: white;
}

.header-logo{
    font-size: 40px;
    font-weight: 650;
}

nav{
    font-size: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
}

.hero{
    color: white;
    display: flex;
    flex-direction: column;
    width: 35%;
  
    align-items: first baseline;
    height: 350px;
    padding-top: 100px;
    margin-left: 0px;
    gap: 10px;
}

.hero1{
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}

.hero-para{
    font-size: 20px;
    margin: 0;
}

.btn{
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
    font-size: 18px;
    font-weight: bold;
}

.image-holder{
    background-color: grey;
    margin: 10px;
    width: 60%;
    height: 300px;

}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 290px;
}

.placeholder-txt{
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents{
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border-radius: 6px;
    padding: 10px;
    border: 5px solid #3882f6;
}
.boxes{
    display: flex;
    width: 65%;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

.image-text{
    text-align: center;
    font-size: 15px;
    color: grey;
    margin-top: 5px;
}

.main1{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.header1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.Section3{
    background-color: #e5e7eb;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.quote{
    color: #1F2937;
    font-size: 25px;
    opacity: 0.8;
    font-style: italic;
    display: flex;
    align-items: center;
    width: 50%;
}
.author{
    color: #1F2937;
    width: 50%;
    height: 50px;
    font-size: 20px;
    margin-top: -5px;
    text-align: end;
    font-style: italic;
}

.Section4{
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box{
    background-color: #3882F6;
    color: white;
    height: 150px;
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn2{
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    border-radius:  5px;
    border: 3px solid white;
    padding: 10px 30px;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
